.icon-7em {
    font-size: 4em;
    border: #1E90FF;
  }

  .icon-8em {
    font-size: 8em;
  }

  .color-fundo{
    background-color: #1E90FF;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 100%
  }